.navbar{
    background: white;
}
.navbar .item{
    font-size: 18px;
    color: black;
    text-decoration: none;
}
.navbar .route{
    margin-right: 20px;
}
.navbar .item:hover{
    color: orange;
}
.navbar .login{
    text-decoration: none;
    list-style: none;
    background: teal;
    color: white;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
}