.signup-form{
    text-align: center;
    margin-top: 60px;
}
.signup-form h1{
    margin-bottom: 60px;
}
.signup-form .input{
    display: block;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 40px;
}
.signup-form .submit{
    margin: 20px 0px;
}
.signup-form button{
    background: teal;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px 60px;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    font-weight: 600;
    border: none;
}
.error{
    color: red;
}