.login-form{
    text-align: center;
    margin-top: 100px;
}
.login-form .input{
    display: block;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.login-form button{
    margin-left: 10px;
}