.login-form{
    text-align: center;
    margin-top: 60px;
}
.login-form h2{
    margin-bottom: 60px;
}
.login-form .input{
    display: block;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 40px;
}
.login-form .submit{
    margin: 20px 0px;
    background-color: #4becf2;
    padding: 8px 20px;
    border-radius: 10px;
    border-color: #4becf2;
}
.login-form button{
    background: #4becf2;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px 60px;
    color: black;
    font-size: 18px;
    border-radius: 20px;
    font-weight: 500;
    border: none;
}
.error{
    color: red;
}