.banner img{
    height: 500px !important;
}
.banner h1{
    color: red;
}
.banner p{
    color: black;
}

@media screen and (max-width: 600px){
    .banner img{
        height: 400px !important;
    }
}